*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.repos-container{
    width:800px;
    margin: auto;
    background-color: #f6f6f6;
}
.repos-container .get-repos{
    display:flex;
    padding: 20px;
    background: #eee;
   

}
.repos-container .get-repos input{
    width: 100%;
    padding: 15px 20px;
    border: none;
    font-size:20px;
}
.repos-container .get-repos input:focus{
    outline:2px solid #f65858;
}
.repos-container .get-repos .get-button{
    margin-left: 20px;
    /* padding: 20px; */
    background-color: #f65858;
    color: white;
    width: 140px;
    height: 65px;
    line-height: 65px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.repos-container .show-data{
    /* margin: auto; */
    background-color: rgb(227, 225, 225);
    /* text-align: center; */
    padding: 20px;
    font-size: 20px;
   color: rgb(81, 80, 80);
}

.repos-container .show-data .repo-box{
    background-color: white;
    padding: 20px;
    color: #4f4646;
    font-size: 25px;
    font-weight: bold; 
}
/* .repos-container .show-data .repo-box div{
    float: left;
} */
.repos-container .show-data .repo-box:not(:last-child){
    margin-bottom: 20px;
}
.repos-container .show-data .repo-box .stars,
.repos-container .show-data .repo-box a {
    color: white;
    font-weight: bold;
    float: right;
    text-decoration: none;
    padding: 10px;
    margin-left: 15px;
    text-align: center;
    font-size: 15px;
}
.repos-container .show-data .repo-box .stars{
    background-color: rgb(84, 237, 186);
}
.repos-container .show-data .repo-box a{
    background-color: rgb(237, 84, 84);
}
